body{
    background-image: url(../img/img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    width: 100%;
    height: 58px;
    background-color:rgba(0, 0, 0, 0.4);
    box-shadow: rgba(0, 0, 0, 0.25); 
    line-height: 58px;
} 
a{
    text-decoration: none;
    color: #fff;
}
.nav_list:nth-child(1){
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 79px;
    padding-left: 79px;
}
.nav_list:nth-child(2){
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 450px;
}
.header_svg_img{
    margin-right: 27px;
    align-items: center;
    margin-top: 18px;
}
.header_svg_img_hover:hover{
    fill: #3CB878;
}  
.nav_list_menu_end::before{
    content: '';
    border-right: 1px solid rgba(255, 255, 255, 0.9);
    opacity: 0.5;
    display: inline-block;
    height: 19px;
    margin-right: 27px;
    vertical-align: middle;
}
.nav_menu_text_start{
    font-size: 22px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.nav_menu_text_start:hover{
    color: #3CB878;
}
.nav_list_menu_end{
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}
.nav_menu_text_end:hover{
    color: #3CB878;
}

/*Form*/
.container_form{
    width: 444px;
    height: 584px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 54px;
}
.container_form_input{
    display:flex;
    flex-direction: column;
    margin-left: 61px;
    gap: 15px;

}
.container_form_input input{
    width: 322px;
    height: 44px;
}
legend{
    color: black;
    font-size: 20px;
    font-weight: 400;
    font-family: inherit;
}
.form_legend{
    display: flex;
   justify-content:space-between;
   align-items: baseline;
   margin-right: 59px;
   margin-left: 61px;
   margin-top: 26px;
   margin-bottom: 16px;
}
.green_box{
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 138px;
}
.form_span_or{
   padding-left: 20px;
    text-align: center;
    display: block;
  
}
.form_span_or::before{
    display: block;
    content: "";
    width: 157px;
    height: 1px;
    top: 248px;
    background: #F2F2F2;
    left: 607px;
    position: absolute;
}
.form_span_or::after {
    display: block;
    content: "";
    width: 160px;
    height: 1px;
    top: 248px;
    background:#F2F2F2;
    right: 585px;
    position: absolute;
   
}
.form_div_span_or{
    text-align: center;
    margin-bottom: 16px;
}
.form_div_button{
    display: flex;
    justify-content: center;
    gap: 6px;
    margin-bottom: 15px;
    margin-left: 23px;
   justify-items: flex-end;
}
.form_button_facebook{
    background-image: url(../img/f\ 1.png);
    background-repeat: no-repeat;
    background-size: 12.46px 24px;
    background-position: 9px;
    background-color:  #305DB8;
    width: 168px;
    height: 48px;
    color: #fff;
    font-size: 16px;
    font-weight:  400;
    font-family: inherit;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
    cursor: pointer;
}
.form_button_facebook::before{
    content: '';
    border-right: 1px solid #2B0D09 ;
    opacity: 0.1;
    display: inline-block;
    height: 28px;
    margin-right: 18px;
    vertical-align: middle;
  
}
.form_button_google{
    background-image: url(../img/G+.png);
    background-repeat: no-repeat;
    background-size: 30px 19px;
    background-position: 9px;
    background-color: #DF4A32;
    width: 168px;
    height: 48px;
    color: #fff;
    font-size: 16px;
    font-weight:  400;
    font-family: inherit;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
   
}
.form_button_google::before{
    content: '';
    border-right: 1px solid #2B0D09 ;
    opacity: 0.1;
    display: inline-block;
    height: 28px;
    margin-right: 20px;
    vertical-align: middle;
    
}
.form_button_facebook:hover{
   background-color: #022263;
}
.form_button_google:hover{
    background-color: #AB1F09;
}
.form_legend_login{
    color:  #3CB878;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
    cursor: pointer;
}
.form_legend_login:hover{
    text-decoration: underline;
}
.form_div_button_create{
    display: flex;
    justify-content: center;
    margin-left: 23px;
}
.form_button_create_account{
    background-color: rgba(60, 184, 120, 0.8);
    color: #fff;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    width: 345px;
    height: 46px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    outline: none;
    box-shadow: none;
}
.form_button_create_account:hover{
    background: #01813F;
}
.form_input_checkbox_link{
    color: #01813F;
}
.form_input_checkbox_link:hover{
    text-decoration: underline;
    cursor: pointer;
}
input::placeholder{
    color: #BEBEBE;
    font-family: 'Ubuntu', sans-serif;
    padding-left: 2px;
}
input{
   font-family: 'Ubuntu', sans-serif;
   border: 1px solid rgba(0, 0, 0, 0.21);
   border-radius: 5px;
   padding-left: 20px;
}
input:focus{
    font-family: 'Ubuntu', sans-serif;
    box-shadow: 0px 3px 8px rgb(0 0 0 / 21%);
    outline-style: none;
    border-color: transparent;
}
.container_header .container_form:focus, .container_header .container_form:focus-visible {
    border: 1px solid #f2f2f2;
    background: #FFFFFF;
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
  }
button:focus{
    outline: none;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
.form_label_inpur_checkbox{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 8px;
    position: relative;
    margin-left: 60px;
    margin-top: 12px;
    margin-bottom: 20px;
}
.origin_checkbox{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}
.new_checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border: 2px solid #7e9bbd;
    border-radius: 4px;
}
.new_checkbox svg{
    display: none;
}
.origin_checkbox:checked + .new_checkbox svg{
    display: block;
}
.origin_checkbox:focus + .new_checkbox{
    outline: 1px solid blue;
    box-shadow: 0 0 0 1px #01813F , 0 0 10px #3CB878;
}